{# app/Ressources/views/index.html.twig #}

{% extends "base.html.twig" %}

{% block body %}

    <h1>TP: Routes - Pagination</h1>

    <h2>Accueil</h2>

    <a href="{{ path('students_list') }}">Liste des étudiants</a>

{% endblock %}